version: "2"

services:
  teamcity:
    image: jetbrains/teamcity-server
    restart: unless-stopped
    volumes:
      - ./teamcity_logs:/opt/teamcity/logs
      - ./teamcity_server_data:/data/teamcity_server/datadir
    ports:
      - "8111:8111"

  teamcity_agent:
    build: teamcity_agent
    restart: unless-stopped
    depends_on:
      - teamcity
    volumes:
      - ./teamcity_agent:/data/teamcity_agent/conf
    environment:
      - SERVER_URL=teamcity:8111
      - SLACK_API_TOKEN=yourslackapitoken
      - SLACK_CHANNEL=#machinelearning
      - AWS_ACCESS_KEY_ID=yourawsaccesskeyid
      - AWS_SECRET_ACCESS_KEY=yourawsaccesskeytoken
